#navbar{
    width: 100%;
    height: 50px;
    background-color: #417690;

}
.baseContainer{
    margin-top: 20px;
    padding: 50px;
}
#navbar p{
    font-size: 30px;
    color: #dac375;
    margin-left: 30px;

}
#mbtn{
    border-radius: 20px; 
    margin: 20px;
}