{% extends "base.html" %}
{% load i18n %}
{% load i18n static %}

{% block scripts %}
<script>
$(function () {
  //$('#MonthsYears').datepicker();
  
  $('.datepicker').datepicker();
  // FOR DEMO PURPOSE
  $('#reservationDate').on('change', function () {
    var pickedDate = $('input').val();
    var date = $("#reservationDate").val()
    $('#pickedDate').html(pickedDate);
    csrf_token = $('{% csrf_token %}').val()
    $.ajax({
      type: "POST",
      url: "{% url 'MonthlyEmployeePayroll' company %}",
      data: {
        'pickedDate': date,
        'csrfmiddlewaretoken': csrf_token
      },
      success: function (response) {
        for (var id in response['all_id']){
          btnActive(response['all_id'][id])
          
        }
        for (var id in response['saved_id']){
          btnBlock(response['saved_id'][id])
        }


      },
      error: function () {
        noty('error', 'Data Sent Fail').show()

      }
    });

  });
  function btnBlock(id){
    var btn ='#saveBtn'+String(id)
            $(btn).removeClass("btn-success ")
            $(btn).addClass("btn-secondary")
            $(btn).off("click")
  }
  function btnActive(id){
    var btn ='#saveBtn'+String(id)
            $(btn).removeClass("btn-secondary")
            $(btn).addClass("btn-success")
            $(btn).one("click",postData)
  }

  function postData(events){
    var clicked_pack = $(events.target).parent().parent()
    console.log("clicked: " +clicked_pack )
    var id = clicked_pack.attr('id')
    var date = $("#reservationDate").val()
    console.log(id)
    var monthly_incentive = clicked_pack.children(".monthly_incentive").text()
    var performance_bonus = clicked_pack.children(".performance_bonus").text()
    try {
      monthly_incentive = parseFloat(monthly_incentive)
      performance_bonus = parseFloat(performance_bonus)
    } catch (err) {
      console.log(err.message)
    }

    csrf_token = $('{% csrf_token %}').val()

    $.ajax({
      type: "POST",
      url: "{% url 'MonthlyEmployeePayroll' company %}",
      data: {
        'id': id,
        'date': date,
        'monthly_incentive': monthly_incentive,
        'performance_bonus': performance_bonus,
        'csrfmiddlewaretoken': csrf_token
      },
      success: function (response) {
        if (response['response'] == 'Success') {
          noty('success', 'Data Submitted Successfull').show()
          for (var id in response['all_id']){
          btnActive(response['all_id'][id])
          
        }
        for (var id in response['saved_id']){
          btnBlock(response['saved_id'][id])
        }
        } else {
          noty('error', response['response']).show()
        }

      },
      error: function () {
        noty('error', 'Data Sent Fail').show()

      }
    })
  }

  function noty(type, text) {
    return new Noty({
      type: type,
      layout: 'topLeft',
      theme: 'nest',
      text: text,
      timeout: '4000',
      progressBar: true,
      closeWith: ['click'],
      killer: true,
    })

  }


});
</script>
{% endblock  %}


{% block content %}

<h1 id ="Heading">Generate Montly Payroll for {{company}}</h1>
    <div class="row">
        <div class="col-md-3 ">
            <div class="form-group mb-3">
                <div class="datepicker date input-group p-0 shadow-sm" data-date-viewmode="years" data-date-minviewmode="months">
                    <input type="text" placeholder="Choose a salary Issue date" class="form-control py-4 px-4" id="reservationDate" >
                    <div class="input-group-append"><span class="input-group-text px-4"><i class="far fa-calendar-alt"></i></span></div>
                </div>
            </div>
        </div>
    </div>
{% csrf_token %}

<table class="table">
    <thead>
        <tr class="table-primary">
          <th scope="col">SN NO:</th>
          <th scope="col">Employee Name</th>
          <th scope="col">Basic</th>
          <th scope="col">House Rent</th>
          <th scope="col">Medical Bill</th>
          <th scope="col">Conveyance</th>
          <th scope="col">Monthly Incentive</th>
          <th scope="col">Performance Bonus</th>
          <th scope="col">Special Allowance</th>
          <th scope="col">Save Data</th>
          <th scope="col">Download Payslip</th>
        </tr>
      </thead>
      <tbody>
      {% for employee,salary_pack,saveBtn in employee_data %}
        <tr id = "{{salary_pack.id}}">
              <th scope="row">{{ forloop.counter }}</th>
              <td scope="row">{{employee.name}}</td>
              <td scope="row">{{salary_pack.basic}}</td>
              <td scope="row">{{salary_pack.house_rent}}</td>
              <td scope="row">{{salary_pack.medical_bill}}</td>
              <td scope="row">{{salary_pack.conveyance}}</td>
              <td scope="row" contenteditable="true" class="monthly_incentive">{{payroll.monthly_incentive}}</td>
              <td scope="row" class= "performance_bonus">{{salary_pack.performance_bonus}}</td>
              <td scope="row">{{salary_pack.special_allowence_7}}</td>
              <td><button type="button" id="{{saveBtn}}" class="btn btn-success btn-rounded btn-sm my-0 save" >Save</button></td>
              <td><button type="button" class="btn btn-primary btn-rounded btn-sm my-0" >Download Payslip</button></td>
        </tr>
      {% endfor %}
    </tbody>
</table>


{% endblock %}